PORT=8000
MONGODB_URI=mongodb+srv://areshakhalid072_db_user:<db_password>@cluster0.t0ottmr.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=aresha1234
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=aresha12345
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=